body
{
    text-align: center;
    position: relative;
    width: auto
    ;
    height: auto;
    background: url(img/cambiar.png);
}
img
{
    width: 35%;
    height: 35%;
}
h1
{
    margin-top: auto ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(251, 251, 251);
    text-align: center;
    font-size: 40px;
}
h2, h3
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(251, 251, 251);
}
p, a
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(251, 251, 251);
    font-size: 25px;
}